# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.chal4.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\projects\chal4\.idea\.idea.chal4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
